<!DOCTYPE html>
<html>
<head>
    <title>Student Form</title>
</head>
<body>

<h2>Add Student</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <label>Name</label><br>
    <input type="text" name="name" required><br><br>

    <label>Place</label><br>
    <input type="text" name="place" required><br><br>

    <label>Image</label><br>
    <input type="file" name="image" required><br><br>

    <button type="submit">Save Student</button>

</form>

<hr>

<h2>Students</h2>

{% for student in students %}

<div style="margin-bottom:20px; border:1px solid #ccc; padding:10px;">

    <p><strong>Name:</strong> {{ student.name }}</p>

    <p><strong>Place:</strong> {{ student.place }}</p>


    {% with ext=student.file.name|lower %}
    {% if ext|slice:"-4:" == ".mp4" %}
        <video controls width="300">
            <source src="{{ student.file.url }}" type="video/mp4">
        </video>
    {% else %}
        <img src="{{ student.file.url }}" width="300">
    {% endif %}
    {% endwith %}


    <!-- {% if student.image %}
        <img src="{{ student.image.url }}" width="200">
    {% endif %} -->




</div>

{% empty %}

<p>No students found.</p>

{% endfor %}

</body>
</html>